# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [8]:
#Done

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Step 4. How many products cost more than $10.00?

In [38]:
chipo[(chipo.item_price.str.len() > 6) & (chipo.quantity == 1)].shape[0]

997

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [39]:
chipo2 = chipo[['item_name','item_price']]
chipo2

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [47]:
chipo2.sort_values(by='item_name')

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
...                 ...        ...
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [58]:
most_exp_index = chipo['item_price'].str.strip('$').astype('float').sort_values(ascending=False).idxmax()
chipo.quantity[most_exp_index]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [61]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [63]:
chipo[(chipo['quantity'] > 1) & (chipo['item_name'] == 'Canned Soda')].shape[0]

20